{% extends "skel.html" %}
{% block head %}
    {% for file in core_css_files -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=file.file) }}" crossorigin="anonymous" integrity="{{ file.hash }}">
    {% endfor %}
    {% for file in core_js_files -%}
    <script defer src="{{ url_for('static', filename=file.file) }}" crossorigin="anonymous" integrity="{{ file.hash }}"></script>
    {% endfor -%}
{% endblock %}

{% block body %}
    <main id="content">
        <div id="statusBar">
            <div id="callerId" contenteditable="false" spellcheck="false"></div>
            <div id="visualAgentList" class="{{ LOADING_CLASS }} noselect"></div>
            <div id="handledIncoming" class="spinner-border noselect"></div>
        </div>
        <div id="alertSection"></div>
        <div id="ccp" class="hide"></div>
        <div id="action"></div>
        <div id="data" class="hide">
            <div id="metrics">
                <table class="table table-sm">
                    <tbody>
                    <tr id='queueCount'>
                        <td class="key noselect">Calls in Queue</td>
                        <td class="value {{ LOADING_CLASS }}"></td>
                    </tr>
                    <tr id='availableAgentCount'>
                        <td class="key noselect">Available Agents</td>
                        <td class="value {{ HELP_CURSOR_CLASS }} {{ LOADING_CLASS }}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="statusDiv">
                <div id="statusA">
                    <div class="{{ LOADING_CLASS }}" id="recentCallList"></div>
                </div>
                {#            <div id="statusB">Recently Called#}
                {#                <div id='numberCallList'></div>#}
                {#            </div>#}
            </div>
        </div>
    </main>
{% endblock %}